{% extends 'base.html.twig' %}

{% block title %}Modifier mes données{% endblock %}

{% block content %}

<h1> Modifier mon mot de passe </h1>
<div class="form-group">
{{ form_start(form_pass) }}

{{ form_widget(form_pass) }}

<button type="submit" class="btn btn-secondary"> Enregister ! </button>

{{ form_end(form_pass) }}
</div>
{% endblock %}