{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

<h4>
Merci pour votre retour nous allons traiter votre demande dans les meilleur delais dans les meilleurs delais !
</h4>

{% endblock %}
